@page "/about"
<h1>
    JP Valuator
</h1>

An <a href="https://github.com/johanpettersson1/BooliML">open source</a> property valuation app using ML.NET powered by <a href="https://booli.se" target="_blank">Booli</a>.