@page "/fetchdata"
@inject HttpClient Http

<h1>Listings</h1>

@if (listings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <input list="listings" id="listing" name="listing" placeholder="Search address.." @oninput="HandleInput" />
    <datalist id="listings">
        @if (listings.Any())
        {
            @foreach (var item in listings)
            {
                <option value="@item.StreetAddress, @item.Municipality, @item.County" />
            }
        }
    </datalist>
}

@code {
    private ViewData[] listings;
    private string _Val;

    protected override async Task OnInitializedAsync()
    {
        listings = await Http.GetFromJsonAsync<ViewData[]>("https://localhost:44315/api/listings");
    }

    private async void HandleInput(ChangeEventArgs e)
    {
        var input = e.Value.ToString();
        if (input.Length > 0)
        {
            listings = await Http.GetFromJsonAsync<ViewData[]>("https://localhost:44315/api/listings/" + input);
            StateHasChanged();
            await Task.Delay(1);
        }
    }
    public class ViewData
    {
        public int BooliId { get; set; }
        public string StreetAddress { get; set; }
        public string Municipality { get; set; }
        public string County { get; set; }
    }
}
